<%= form_with(model: scarf, local: true) do |form| %>
  <% if scarf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scarf.errors.count, "error") %> prohibited this scarf from being saved:</h2>

      <ul>
      <% scarf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.select(:city_id, options_from_collection_for_select(City.all, :id, :city_name, @scarf.city_id.to_i)) %>
  </div>


  <div class="field">
    <%= form.label :date_insp %>
    <%= form.date_select :date_insp %>
  </div>

  <div class="field">
    <%= form.label :weather_insp %>
    <%= form.select(:weather_insp, options_for_select([['Temperature', 'temperature'], ['Humidity', 'humidity'], ['Dew Point', 'dewPoint'], ['Apparent Temperature','apparentTemperature'], ['Wind Speed', 'windSpeed'], ['Cloud Cover', 'cloudCover'], ['Visibility', 'visibility'], ['Summary', 'summary']], [@scarf.weather_insp])) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
