<tr>
    <td><%= scarf.title %></td>
    <td><%= scarf.description %></td>
    <td><%= scarf.city.city_name %></td>
    <td><%= scarf.date_insp.strftime("%d %b %Y") %></td>
    <td><%= scarf.weather_insp %></td>
    <td><%= link_to 'Show', scarf %></td>
    <td><%= link_to 'Edit', edit_scarf_path(scarf) %></td>
    <td><%= link_to 'Destroy', scarf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>