<p id="notice"><%= notice %></p>

<h1>Scarves</h1>

<div id="search-scarves-display">
  <h4>Search scarves</h4>
  <%= form_with model: @scarf, method: :get, local: true do |form| %>
      <%= render partial: 'search', locals: {form: form} %>
  <% end %>
</div>

<table id="all-scarves">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>City inspiration</th>
      <th>Date inspiration</th>
      <th>Weather inspiration</th>
      <th>Preview</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'scarf', collection: @scarves %>
  </tbody>
</table>

<br>

<div id="new-scarf">
  <%if !(current_user == nil)%>
    <%= link_to 'New Scarf', new_scarf_path, remote: true %>  
  <% end %>
</div>


