<p id="notice"><%= notice %></p>

<h1>Scarves</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>City insp</th>
      <th>Date insp</th>
      <th>Weather insp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scarves.each do |scarf| %>
      <tr>
        <td><%= scarf.title %></td>
        <td><%= scarf.description %></td>
        <td><%= scarf.city.city_name %></td>
        <td><%= scarf.date_insp %></td>
        <td><%= scarf.weather_insp %></td>
        <td><%= link_to 'Show', scarf %></td>
        <td><%= link_to 'Edit', edit_scarf_path(scarf) %></td>
        <td><%= link_to 'Destroy', scarf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scarf', new_scarf_path %>
