<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @scarf.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scarf.description %>
</p>

<p>
  <strong>City inspiration:</strong>
  <%= @scarf.city.city_name %>
</p>

<p>
  <strong>Date inspiration:</strong>
  <%= @scarf.date_insp %>
</p>

<p>
  <strong>Weather inspiration:</strong>
  <%= @scarf.weather_insp %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @scarf.pattern %>
</p>

<%= link_to 'Edit', edit_scarf_path(@scarf) %> |
<%= link_to 'Back', scarves_path %>
